server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "asuka123"
    sources:
      youtube: false      
      bandcamp: false
      soundcloud: true   
      twitch: false
      vimeo: false
      http: true          

  plugins:
    
   
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.15.0"
      snapshot: false
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.8.1"
      repository: "https://maven.lavalink.dev/releases"
      snapshot: false


plugins:
  youtube:
    enabled: false      

  lavasrc:
    sources:
      spotify: false    
      applemusic: false
      deezer: false
      yandexmusic: false
      youtube: false






















